body{
	font-family:arial;
	font-size:15px;
	line-height:1.6;
	background:#181818;
}

li{
	list-style:none;
}

a{
	text-decoration:none;
}	

.container{
	width:70%;
	margin:0 auto;
	overflow:auto;
	background:#ddf4ef;
	border-radius: 10px;
	
}	

header{
	border-bottom:0px #f4f4f4 solid;
}	
main{
	padding-bottom:20px;
}

footer{
	border-top:0px #f4f4f4 solid;
	text-align:center;
	padding-top:5px;
}

a.start{
	display:inline-block;
	color:#666;
	background:#f4f4f4;
	border:1px dotted #ccc;
	padding:6px 13px;
	
	
}
.current{
	padding:10px;
	background:#98a2bb;
	border:#ccc dotted 1px;
	#margin:20px 0 10px 0;
	border-radius: 10px;
}
a.back-to-top {
	display:inline block;
	width:90px;
	height:90px;
	position:fixed;
	bottom:70px;
	right:130px;
	background:url("arrow2.png") no-repeat center 35%;
	text-indent:-9999px;
	border-radius:30px;
}	
a:hover.back-to-top{
	background-color:#fff;
}
.g{
	width:150px;
	height:40px;
}	
.box {
	background-size: cover;
	margin: 200 px 800px;
	padding: 100px;
	background: #5a7cd1;
	border-radius: 10px;
}	
